body{
    background-color: rgb(255, 255, 255);

}

#imggoogle {
    width: 250px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style:italic;
    font-size: 30px;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    

}
.searchBtn{
    display: flex;
    margin-left: 5px;
    border-radius: 1000px;
    padding: 7px 7px;
    border: 1px solid #ccc;
  
}
.textinput input {
    width: 300px;
    height: 35px;
    border-radius: 1000px;
    padding: 10px 10px;
    border: 1px solid #ccc;
}
#textInput{
    width: 350px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#button_search{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    background-color: rgb(23, 9, 148);
    
}


#button_search{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

}

#button2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: rgb(6, 211, 211);

}

